@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir.woff");
}

@font-face {
    font-family: "B Nazanin";
    src: url("../fonts/b-nazanin.ttf");
}

body {
    font-family: "vazir";
    direction: rtl;
    text-align: right !important;
    line-height: 1.6;
}