{% extends 'core/_base.html' %}


{% block main %}
    <div class="container">
        <div class="jumbotron">
            <h2 class="text text-center text-muted">بازیابی گذرواژه</h2>
            {% include 'core/_errors.html' %}
            <form method="get">
                <div class="form-group">
                    <label for="email">ایمیل</label>
                    <input type="email" class="form-control" name="email" placeholder="ایمیل">
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control btn-outline-info">
                </div>
            </form>
        </div>
    </div>

{% endblock %}